
{% extends 'baes.html' %}
{% load extend_fun %}
{% block title %}
产品页
{% endblock %}

{% block link %}



<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>

<!-- Custom Theme files -->
<!--theme style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<script src="/static/js/simpleCart.min.js"> </script>
<!-- start menu -->
<link href="/static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!-- /start menu -->
<link href="/static/css/form.css" rel="stylesheet" type="text/css" media="all" />
<!-- the jScrollPane script -->

<script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"></script>

		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!-- //the jScrollPane script -->
{% endblock %}


{% block body %}

<!--header//-->
<div class="product-model">	 
	 <div class="container">
			<ol class="breadcrumb">
		  <li><a href="index.html">家</a></li>
		  <li class="active">产品</li>
		 </ol>
			<h2>我们 的产品</h2>
		 <div class="col-md-9 product-model-sec">


				{% All as all %}
				 {% if all %}
				 	{% for al in all %}

						<a href="{% url 'lamp:single' al.id %}"><div class="product-grid">
							<div class="more-product"><span> </span></div>
							<div class="product-img b-link-stripe b-animate-go  thickbox" >
								<img id="jkl" style="width:150px;height:150px" src="/static/media/{{ al.img }}" class="img-responsive" alt="" />
								<div class="b-wrapper">
								<h4 class="b-animate b-from-left  b-delay03">
								<button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
								</h4>
								</div>
							</div></a>
							<div class="product-info simpleCart_shelfItem">
								<div class="product-info-cust prt_name">
									<h4>{{ al.name }}</h4>
									<span class="item_price">{{ al.price }}</span>
									<div class="ofr">
									  <!--<p class="pric1"><del>Rs 280</del></p>-->
									  <!--<p class="disc">[12% Off]</p>-->
									</div>
									<input type="text" class="item_quantity" value="1" />
									<input type="button" class="item_add items" value="ADD">
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>


				 	{% endfor %}

				 {% endif %}



			</div>





			<div class="rsidebar span_1_of_left">
				<!--tab{{ forloop.count }}-->
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>分类</h4>

							 {% if classifications %}
								{% for classification in classifications %}

						 		<div class="tab{{ forloop.counter }}">
									 <ul class="place">
										 <li class="sort">{{ classification.name }}</li>
										 <li class="by"><img src="/static/images/do.png" alt=""></li>
											<div class="clearfix"> </div>
									  </ul>
									 <div class="single-bottom">
										 {% for i in classification.classification_set.all %}
										 <p id="taba{{ forloop.counter }}">{{ i }}</p>

										 {% endfor %}

									 </div>
									 </div>
									<script>
											$(document).ready(function(){
												$(".tab{{ forloop.counter }} .single-bottom").hide();

												$(".tab{{ forloop.counter }} ul").click(function(){
													$(".tab{{ forloop.counter }} .single-bottom").slideToggle(300);
											})
											});




											$(function(){
												$('#taba{{ forloop.counter }}').click(function(){

													console.log('点击')


													$("#jkl").attr("src","/static/images/ofr.jpg")

													$.ajax({
														url:"/po/ajaxurl/",
														type:'post',
														data:{},
														success:function(data){
																console.log(data)
															<!--for(let d in data)-->
															<!--{-->



															<!--}-->

														}


													})

												})

											})
										</script>

								{% endfor %}
							{% endif %}


				 </section>





			 </div>				 
	      </div>
		</div>
</div>

{% endblock %}









